<div class="form">
    <input type="text" 
           #name>
    <button (click)="addPlayer(name.value)">Add</button>
</div>

<div *ngFor="let player of players">
    <app-user-score [name]="player.name"></app-user-score>
</div>
